[submodule "Tukui/Libs/oUF_Retail"]
	path = Tukui/Libs/oUF_Retail
	url = git@github.com:pedrozc90/oUF.git
	branch = retail
[submodule "Tukui/Libs/oUF"]
	path = Tukui/Libs/oUF
	url = git@github.com:pedrozc90/oUF.git
	branch = classic
