[submodule "Tukui/Libs/oUF_Retail"]
	path = Tukui/Libs/oUF_Retail
	url = https://github.com/lua-wow/oUF.git
	branch = retail
[submodule "Tukui/Libs/oUF"]
	path = Tukui/Libs/oUF
	url = https://github.com/lua-wow/oUF.git
	branch = classic
[submodule "Tukui/Libs/LibStub"]
	path = Tukui/Libs/LibStub
	url = https://github.com/lua-wow/LibStub.git
	branch = master
[submodule "Tukui/Libs/CallbackHandler-1.0"]
	path = Tukui/Libs/CallbackHandler-1.0
	url = https://github.com/lua-wow/CallbackHandler-1.0.git
	branch = master
[submodule "Tukui/Libs/SortBags"]
	path = Tukui/Libs/SortBags
	url = https://github.com/shirsig/SortBags
	branch = master
[submodule "Tukui/Libs/SortBags_Vanilla"]
	path = Tukui/Libs/SortBags_Vanilla
	url = https://github.com/shirsig/SortBags
	branch = classic-era
[submodule "Tukui/Libs/TaintLess"]
	path = Tukui/Libs/TaintLess
	url = https://github.com/lua-wow/TaintLess.git
	branch = master
